/* Base classes */
h2 {
  padding-top: 1em;
}

.large-text {
  font-size: 300%;
}

.medium-text {
  font-size: 200%;
}

.small-text {
  font-size: 150%;
}

.x-small-text {
  font-size: 120%;
}
.bold {
  font-weight: bold;
}

.bold p {
  font-size: 110%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.contain-float {
  overflow: hidden;
}

.inline-block, #content .inline-block {
  display: inline-block;
}

.left-area, .right-area {
  width: 48%;
  float: left;
  margin: 0 0;
  padding: 0 1em 1em 0;
}

.right-area {
  padding: 0 0 0 1em;
}

.firstParagraph {
  margin-top: 3em;
}

.footer {
  margin: 0.5em;
}

.scroll-auto {
  overflow: auto;
}

.italics {
  font-style: italic;
}


/**** Sections ****/

/* quick facts */
.quickfacts h2 {
  padding-top: 0;
  margin-top: 0;
}

.quickfact-number {
  font-size: 300%;
  color: #c0c0c0;
  font-style: italic;
}


/* Slider Gallery */
.species .gallery .panel .overlay-background {
  display: none;
}

.species .gallery .panel-overlay > h3 {
  color: #FFF;
  text-shadow: none;
}


/* Threat status */
.threat-status-indicator a {
  display: block;
}

.threat-status-indicator div {
  padding: 1em;
}

.threat-status-indicator .text-right {
  padding: 0;
}

.threat-status-indicator .footer {
  padding: 0;
}

.threat-status-indicator .roundedCorners {
  border: 2px solid #4B4B4B;
  border-radius: 10px;
}

#content .threat-status-indicator p {
  margin-bottom: 0;
  line-height: 1.2em;
}

/* Not Evaluated threat status */
.threat-status-ne {
  background-color: #FFF;
  border: 1px solid #DDD;
}

/*  Data Deficient threat status */
.threat-status-dd {
  background-color: #D4D8D7;
}

/* Not applicable threat status */
.threat-status-na {
    background-color: #C1BCA5;
}

/* Least Concern threat status */
.threat-status-lc {
  background-color: #61C250;
}

/* Near Threatened threat status */
.threat-status-nt {
  background-color: #C9DD03;
}

/* Vulnerable threat status */
.threat-status-vu {
  background-color: #FAE700;
}

/* Endangered threat status */
.threat-status-en {
  background-color: #FF7F45;
}

/* Critically endangered threat status */
.threat-status-cr {
  background-color: #D52B1E;
}

/* Regionally Extinct threat status */
.threat-status-re {
    background-color: #9B4F96;
}

/* Extinct in the Wild threat status */
.threat-status-ew {
  background-color: #53284F;
}

/* Extinct threat status */
.threat-status-ex {
  background-color: #000;
}

/* set back as default for the threat status indicators */
#content .threat-status-indicator,
#content .threat-status-indicator a {
  color: #000;
}

#content .threat-status-indicator a {
  text-decoration: underline;
}

/* set white for threat statuses with darker backgrounds */
#content .threat-status-cr a,
#content .threat-status-ew a,
#content .threat-status-ex a,
#content .threat-status-re a {
  color: #FFF;
}

/* no border for hover state of threat status */
#content .threat-status-indicator a:hover {
  text-decoration: none;
}

/* hover state change for status level from which the default eea hover color
   is too strong */
#content .threat-status-cr a:hover,
#content .threat-status-ew a:hover,
#content .threat-status-ex a:hover,
#content .threat-status-re a:hover {
  color: #F9DFDE !important;
}

.threat-status-label {
  font-weight: bold;
}

.reported-areas .reported-areas-map {
  margin-top: 2em;
}

/* Table definition */
.threat-status-indicator .table-definition {
  padding: 0;
}

.table-definition-target {
  background: url("/template/accordion_down.png") no-repeat scroll 97% center #346F83;
  padding-right: 2.5em;
}

.table-definition-target.opened {
  background: url("/template/accordion_up.png") no-repeat scroll 97% center #346F83;
}


/**** Overrides ****/
#portal-breadcrumbs {
  font-weight: bold;
}

.listing th a, .listing th a:link, .listing th a:visited {
  color: #FFF !important;
}

.sortable th span,
.listing th span {
  display: inline;
}

.sortable th a:link, .listing th a:link {
  float: left;
   /* *float: none; */   /*no IE hacks, please*/
}

.overlay {
  background-color: #FFF;
  padding: 1em;
  border: 1px solid #005e7d;
}

.overlay table {
  font-size: 110%;
}

.overlay-title {
  font-size: 175%;
}

.overlay-body {
  max-height: 500px;
  max-width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5em 1em 0 0em;
}

#content .overlay-body table {
  padding: 0 0.1em 0 0;
}

/**** Temporary overrides ****/

/* styles added temporarily from jquerytools.overlays since right now they
   are disabled on production */
div.overlay {
  width: auto;
  height: auto;
  /* initially overlay is hidden */
  display: none;
  /* some padding to layout nested elements nicely  */
  margin: 1em;
  z-index: 999;
}

div.overlay-iframe,
div.overlay-ajax {
  width: 60%;
  min-height: 100px;
  z-index: 999; /* overlays should be above everything */
}

div.overlay-iframe {
  height: 60%;
}

/* default close button positioned on upper-left corner */
div.overlaybg div.close,
div.overlay .close {
  background-image: url(https://eea.europa.eu/++resource++plone.app.jquerytools.pb_close.png);
  position: absolute;
  left: -14px;
  top: -14px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.pb-ajax {
  overflow-y: auto;
}

.pb-ajax, .pb-image {
  background-color: #fff;
  border: 1px solid #999;
  white-space: normal;
  box-shadow: 0 0 3em 0.5em #666;
  -moz-box-shadow: 0 0 3em 0.5em #666;
  -webkit-box-shadow: 0 0 3em #666;
}

.pb-ajax > div {
  width: 92%;
  padding: 1em;
}

.pb-ajax .documentActions {display:none}

div.overlay .close span {
  display: block;
  height: 1px;
  margin: -1px 0 0 -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

div.overlay textarea { width: 100%; }

/* Hide form elements that don't make sense within an overlay. */
div.overlay .link-parent { display: none; }
div.overlay #createGroup legend { display: none; }
div.overlay #createGroup fieldset { border: none; }

/* lets play nice with paragraphs, links, tabbed pages in overlay e.g. when plone.openid is installed */
div.overlay p {
  margin-bottom: 1em;
}
div.overlay label {
  margin-bottom: 0.25em;
}
div.overlay a:hover {
  color: #75ad0a;
}
div.overlay a.selected {
  color: #000000;
}
div.overlay .formTab {
  margin-right:1em;
  font-weight: bold;
}
div.overlay .formTab.lastFormTab {
  margin-right:0em;
}
div.overlay .formControls a {
  display: block;
  margin: 0.75em;
}


/* galleryView temporary overrides */
.gallery .nav-next,
.gallery .nav-prev,
.gallery .nav-next-overlay,
.gallery .nav-prev-overlay {
  position: absolute;
  z-index: 601;
  cursor: pointer;
  opacity: 0.75;
}

.gallery .nav-next:hover,
.gallery .nav-prev:hover {
  opacity: 1;
}

.gallery .nav-next {
  right: 10px;
}

.gallery .nav-prev {
  left: 10px;
}

.gallery .nav-prev-overlay,
.gallery .nav-next-overlay {
  z-index: 601;
  opacity: 0.75;
}

.gallery .nav-next-overlay {
  right: 0;
}

.gallery .nav-prev-overlay {
  left: 0;
}

/* EUNIS navigation proposal 4  -  SONIA */
#portal-columns {
  overflow: hidden;
}

#portal-column-two {
  max-width: 200px;
  min-width: 120px;
}

.column-area {
  width: 79%;
}

.portlet {
  background: rgb(243, 243, 243);
  margin-bottom: 1em;
  padding: 1.9em;
  border-radius: 0px;
  box-shadow: 0px 0px 0px;
}

.gallery {
  visibility: visible;
}

.to-right {
  float: right;
}

.quick-facts {
  overflow:hidden;
}

.left-area, .right-area {
  width: 48%;
}

.legend-color {
  display: inline-block;
  height: 10px;
  width: 10px;
  /*border: 1px solid black;*/
}

.legend-table td {
  padding-right: 6px;
  border-left: 1px solid #DDD;
  padding-left: 6px;
}

.legend-table {
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
}

/* Homepage improvements #17701 */
.homepage-content {
  position: relative;
  height: 470px;
}

#portal-column-content #content {
  margin-top: 0;
}

.homepage-content #scientificName,
.homepage-content #searchString,
.homepage-content #englishName {
  height: 28px;
  min-width: 380px;
}

.homepage-content #scientificName {
  width: 442px;
}

.homepage-content #searchString {
  width: 398px;
}

.homepage-content #englishName {
  width: 463px;
}

.homepage-content .portlet-label {
  display: inline-block;
  font-size: 14px;
}

.homepage-content .figure-right .figure {
  margin-top: 20px;
}

#content .portlet a.search-tools-link {
  margin-top: 5px;
  margin-left: 3px;
  display: inline-block;
}

.homepage-content .search_details {
  display: inline-block;
  clear: none;
  width: 509px;
  margin-bottom: 0;
}

.homepage-content .search_details.not-inline {
  display: block;
}

.homepage-content .species_qs,
.homepage-content .habitats_qs,
.homepage-content .sites_qs {
  width: 670px;
}

.homepage-content .combined-search-area {
  padding: 20px;
}

.documentFirstHeading {
  border-bottom: 0;
  margin-bottom: 0px;
}

.documentSecondHeading {
  color: #00446a;
  margin-top: 0px;
  padding-top: 0;
}

/* IUCN Red List on species profile #19228 */
#content .threat-status-indicator .roundedCorners {
  border-width: 1px;
  border-color: #999;
}

#content .iucn-red-list-area fieldset {
  border-color: #DDD;
}

#content .threat-status-indicator .threat-status-label {
  margin-bottom: 10px;
}

.iucn-red-list-area .threat-status-region {
  font-size: 12px;
}

.map-border {
    border: 1px solid #999;
}

/*Sites Designations table, to display the second column aligned to the right */
.designations-table tbody td { text-align: right }
.designations-table tbody td:first-child { text-align: left }

/*Conservation legend colors #19618*/
.conservation-legend-favorable {
    background-color: #B7E937;
}
.conservation-legend-inadequate {
    background-color: #DBC833;
}
.conservation-legend-bad {
    background-color: #99541C;
}
.conservation-legend-unknown {
    background-color: #8C8C8C;
}
.conservation-legend-nodata {
    background-color: #EDEDED;
}

#popup_login_form_eea {
    position: absolute;
    top: 43px;
    right: 9px;
    background-color: #FFF;
    border-left: 0;
    z-index: 500;
    padding: 1em;
    width: 100px;
    -webkit-box-shadow: 0px 2px 2px #333;
    -moz-box-shadow: 0px 2px 2px #333;
    -ms-box-shadow: 0px 2px 2px #333;
    -o-box-shadow: 0px 2px 2px #333;
    box-shadow: 0px 2px 2px #333;
}

/* Report generator */

table.globalQuery.syntaxa th.name {
    width: 15em;
}
table.globalQuery.syntaxa th.definition {
    width: 17em;
}
table.globalQuery.syntaxa td.synonyms {
    white-space: pre-line;
}
table.globalQuery.syntaxa th.definition {
    width: 5em;
}



/* Factsheet table design */

.quickfacts h4 {
  margin-top: 0;
}
.quickfacts table {
  width: 100%;
}
.quickfacts table td,
.quickfacts table th {
  vertical-align: top;
  padding: .5em 0;
}
.quickfacts tbody {
  border-top: 1px solid #ececec;
}
.quickfacts table td {
  padding-left: 1em;
  padding-bottom: 0;
}
.quickfacts tr:last-child td {
  padding-bottom: .5em;
}
.quickfacts table th {
  width: 14em;
}
.quickfacts table h6 {
  margin: 0;
}

.quickfacts table small {
  font-size: inherit;
  font-style: italic;
  font-weight: normal;
  color: gray;
}

.quickfacts .list-inline {
  padding-left: 0px;
  margin-left: 0px !important;
}

.list-inline {
  list-style: none!important;
  margin: 0;
}
.list-inline li {
  display: inline!important;
}
.list-inline li:before {
  content: ", ";
}
.list-inline li:first-child:before {
  content: "";
}
/* CONCLUSION */
.conclusion {
  display: inline-block;
  *zoom: 1;
  padding: 1px 2px;
  margin: -2px 0;
  text-align: center;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  min-height: 1em;
  min-width: 1em;
}
/* CONCLUSION TYPES */
.FV .conclusion,
.FV.conclusion {
  color: #000;
  border-color: #639500;
  background-color: #9aca3b;
}
.FVU .conclusion,
.FVU.conclusion {
  color: #000;
  border-color: #639500;
  background-color: #9aca3b;
}
.U1 .conclusion,
.U1.conclusion {
  color: #000;
  border-color: #b05f00;
  background-color: #e69800;
}
.U1U .conclusion,
.U1U.conclusion {
  color: #000;
  border-color: #b05f00;
  background-color: #e69800;
}
.U1M .conclusion,
.U1M.conclusion {
  color: #000;
  border-color: #b05f00;
  background-color: #e69800;
}
.U1P .conclusion,
.U1P.conclusion {
  color: #000;
  border-color: #b05f00;
  background-color: #e69800;
}
.U2 .conclusion,
.U2.conclusion {
  color: #000;
  border-color: #742c2c;
  background-color: #eb6847;
}
.U2U .conclusion,
.U2U.conclusion {
  color: #000;
  border-color: #742c2c;
  background-color: #eb6847;
}
.U2M .conclusion,
.U2M.conclusion {
  color: #000;
  border-color: #742c2c;
  background-color: #eb6847;
}
.U2P .conclusion,
.U2P.conclusion {
  color: #000;
  border-color: #742c2c;
  background-color: #eb6847;
}
.XX .conclusion,
.XX.conclusion {
  color: #000;
  border-color: #888;
  background-color: #b4b4b4;
}
.XXU .conclusion,
.XXU.conclusion {
  color: #000;
  border-color: #888;
  background-color: #b4b4b4;
}
.XU .conclusion,
.XU.conclusion {
  color: #000;
  border-color: #888;
  background-color: #b4b4b4;
}
.XUU .conclusion,
.XUU.conclusion {
  color: #000;
  border-color: #888;
  background-color: #b4b4b4;
}
.NA .conclusion,
.NA.conclusion {
  color: #000;
  border-color: #4774c7;
  background-color: #78bbee;
}
.assesm {
  color: #666666 !important;
  font-style: italic;
}

.normalfont {
  font-weight: normal !important;
  font-style: normal !important;
}

/*workaround for EEA template padding change*/
#portal-column-content {
  padding: 0 !important;
  background-color: white;
}





/* Art12 Secure status */
.a12threat-status-Secure {
  background-color: rgb(177, 199, 72);
  border-color: #639500;
}

/* Art12 Threatened status */
.a12threat-status-Threatened {
  background-color: rgb(233, 64, 80);
  border-color: #742c2c;
}

/* Art12 NearThreatened status */
.a12threat-status-NearThreatened, .a12threat-status-Declining, .a12threat-status-Depleted {
  background-color: rgb(255, 214, 0);
  border-color: #745A00;
}

/* Art12 Extinct status */
.a12threat-status-Extinct {
  background-color: rgb(255, 255, 255);
  border-color: #888;
}

/* Art12 Unknown status */
.a12threat-status-Unknown {
  background-color: rgb(187, 189, 192);
  border-color: #888;
}

.photoAlbumEntry {
  width: 300px;
}

/*Indicator species*/

.species-container {
    background: #F0F0F0;
    position: relative;
    margin-top: 2.5rem;
}

.species-container .photoAlbumEntryWrapper {
    background: transparent;
    height: 145px;
    max-height: none;
    position: relative;
    border-bottom: 3px solid black;
}

.species-container .species-item {
    display: inline-block;
    width: calc(25% - 2rem);
    margin: 1rem;
    margin-bottom: 25px;
    border-radius: 10px;
    min-width: unset !important;
    overflow: hidden;
    box-shadow: 5px 5px 8px 0px rgba(18, 18, 18, 0.4);
    height: 100%;
}

.species-container span.photoAlbumEntryTitle {
    background: white;
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    position: relative;
    min-height:73px;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.species-container .photoAlbumEntryWrapper img {
    vertical-align: middle;
    max-width: 100%;
    margin-top: 1px;
    position: absolute;
    width: 100%;
    top: 0;
}

.species-container .photoAlbumEntryTitle .photo-subtitle {
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.species-container .photoAlbumEntryTitle .italics {
  margin-top:5px;
}

.species-container .tab-body {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.species-container .photoAlbumEntryTitle {
    font-weight: 300;
}

.species-container .species-header {
    position: absolute;
    bottom: 100%;
    left: 170px;
    background: #006599;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    width: 170px;
    text-align: center;
    color: white;
    height:40px;
    padding-top: 13px;
    cursor: pointer;
}

.species-container .species-header:first-of-type {
    left: 0;
    border-top-left-radius: 5px;
}

.species-container .species-header:nth-child(3) {
    left: 340px;
    border-top-right-radius: 5px;
}

.species-container .species-header.tab-visible {
    background: #F0F0F0;
    color: #006599;
}

.species-container .tab-body {
    display: none;
}

.species-container .tab-body.tab-visible {
    display: flex;
}

.species-container .tab-body > div:nth-child(n+10) {
    display: none;
}

.species-container .pagination-controls {
    position: absolute;
    bottom: 100%;
    right: 0;
}

.species-container .pagination-controls .btn {
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}

.disabled {
    pointer-events: none;
    opacity: 0.8;
    filter: grayscale(100%);
}

.table-striped.modified th {
    background: #006699;
    color: #fff;
    padding: .8rem;
}

.table-striped.modified {
    margin-top: 1rem;
}

.table-striped.modified td {
    padding: .8rem;
}

.table-full {
    display: table !important;
    width: 100%;
}

.table-striped.modified td,
.table-striped.modified th {
    font-size: 13px;
}

.table-striped.modified tr {
    width: 100%;
}

.table-striped.modified th a {
  color: white;
}

.view-switch {
    position: absolute;
    bottom: 100%;
    left: 610px;
}

.display-hidden {
    opacity: 0;
    height: 0;
    margin: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    z-index: -999;
}

.view-switch button {
    background: #006599;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 60px;
    border: none;
    margin: -1px;
    margin-left: -2px;
    height: 40px;
    margin-bottom: 0;
}

.view-switch button.selected {
    background: #F0F0F0;
    color: #006599;
}

.view-switch .btn-table {
    border-top-left-radius: 5px;
}

.view-switch .btn-list {
    border-top-right-radius: 5px;
}

.view-switch .btn-table:before {
    content: '';
    background: url(/images/species-controls/table-selected.svg);
    width: 55%;
    height: 44%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.view-switch .btn-table.selected:before {
    content: '';
    background: url('/images/species-controls/table.svg');
    width: 55%;
    height: 44%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.view-switch .btn-list:before {
    content: '';
    background: url('/images/species-controls/list-selected.svg');
    width: 46%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.view-switch .btn-list.selected:before {
    content: '';
    background: url('/images/species-controls/list.svg');
    width: 46%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.pagination-controls button {
    background: #F0F0F0;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 60px;
    border: none;
    height: 40px;
}

.pagination-controls #prev:before {
    content: '';
    background: url('/images/species-controls/left-arrow.svg');
    width: 40%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.pagination-controls #next:before {
    content: '';
    background: url('/images/species-controls/right-arrow.svg');
    width: 40%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.species-container .btn {
    position: relative;
}

.pagination-controls .page_number_wrapper {
    background: #006699;
    padding: 9px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 60px;
    border: none;
    height: 53px;
}

.pagination-controls #prev {
    border-top-left-radius: 5px;
}

.pagination-controls #next {
    border-top-right-radius: 5px;
}

.species-container .btn {
    outline: none;
}

@media (max-width: 768px){
  .species-container .species-header {
    left: 33.3%;
    background: #006599;
    padding: 10px;
    font-weight: 500;
    width: 33.3%;
    text-align: center;
    color: white;
    height:45px;
    padding-top: 5px;
    cursor: pointer;
    font-size:12px;
  }

  .species-container .species-header:first-of-type {
    left: 0;
    border-top-left-radius: 5px;
  }

  .species-container .species-header:nth-child(3) {
    left: 66.6%;
    border-top-right-radius: 5px;
  }
  .tab-body {
    padding-top: 200px !important;
  }
  .species-header-text {
    top: 5rem !important;
  }
  .species-container .pagination-controls {
    top: 13px;
    right: -2px;
    bottom: unset;
  }

  .species-container .view-switch {
    position: absolute;
    bottom: unset;
    left: 10px;
    top: 13px;
  }
  .species-container .view-switch .btn {
    border-radius: 0!important;
  }
}

@media (max-width: 1000px) {
  .species-container .species-item {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 1000px) {
  .species-container .species-item {
    width: calc(50% - 2rem);
  }
}
@media (max-width: 500px) {
  .species-container .species-item {
    width: 60%;
  }
}

@media (max-width: 430px) {
  .species-container .species-item {
    width: 90%;
  }
}

@media (min-width: 768px){
  .species-container .species-header {
    transform: scale(0.8);
    margin-bottom: -4px;
    font-size: 16px;
    left: 119px;
  }
  .species-container .species-header:first-of-type {
    left:-17px;
  }
  .species-container .species-header:nth-child(3) {
    left: 254px;
  }

  .view-switch {
    transform: scale(0.8);
    margin-bottom: -4px;
  }
  .pagination-controls {
    transform: scale(0.8);
    margin-bottom: -4px;
    right: -16.5px !important;
  }
  .big-container {
    min-height:518px;
  }
}

.species-header-text {
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 0;
  right: 1rem;
  font-weight: 400;
  text-align: left;
}

.species-footer-text {

  padding: 0 1rem 1rem 1rem;
  font-weight: 400;
  text-align: left;
}

.redlist-table {
  margin: 5px;
  display: inline-table !important;
  width: 280px;
  font-size: 110%;
}

.redlist-table td {
  border: 1px solid;
  text-align: center;
  background: #F1F1F1;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 5px;
}

.trend-table {
  margin: 5px;
  display: inline-table !important;
  width: 280px;
}

.trend-table td {
  padding: 3px;
  text-align: center;
}

.criteria-table {
  border-collapse: collapse;
}

.criteria-table tr {
  border-bottom: 1px solid #ccc;
}

.criteria-table td {
  padding: 4px;
}

.criteria-table td {
  padding: 4px;
}

.criteria-table td:nth-child(1) {
  font-style: italic;

}

.criteria-table td:nth-child(2) {
  font-size: 24px;
  color: #96a3b6;
  font-weight: bold;
}

.criteria-indent {
  padding-left: 2em;
  text-indent: -2em;
}

.trend-Increasing {
  font-size: 16px;
  color: #53d308;
  font-weight: bold;
}

.trend-Decreasing {
  color: #e20017;
  font-size: 16px;
  font-weight: bold;
}

.trend-Stable {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.trend-Unknown {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.arrow {
  height: 15px;
  width: 15px;
}

.rl-CO {
  color: white;
  font-weight: bold;
  background: black !important;
}

.rl-CR {
  color: white;
  font-weight: bold;
  background: #E92B2B !important;
}

.rl-EN {
  color: white;
  font-weight: bold;
  background: #FFA317 !important;
}

.rl-VU {
  color: white;
  font-weight: bold;
  background: #F7E700 !important;
}

.rl-NT {
  color: white;
  font-weight: bold;
  background: #8FBD13 !important;
}

.rl-LC {
  color: white;
  font-weight: bold;
  background: #008233 !important;
}

.rl-DD {
  color: white;
  font-weight: bold;
  background: #828282 !important;
}

.rl-NE {
  color: black;
  font-weight: bold;
  background: white !important;
}